<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <br/>
  <div class="field">
    <%= f.label 'Wishlist (optional)' %><br>
    <%= f.text_field :wishlist, class: 'form-control' %>
  </div>  
  <div class="actions">
    <br/>
    <%= f.submit 'Sign up', class: 'btn btn-success btn-lg' %>
  </div>
<% end %>
