<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Giving to:</strong>
  <%= @person.giving_to || 'None' %>
</p>

<p>
  <strong>Avoiding Giving to:</strong>
  <%= @person.avoiding_giving_to || 'None' %>
</p>

<p>
  <strong>Receiving from:</strong>
  <%= @person.receiving_from || 'None' %>
</p>

<p>
  <strong>Wishlist:</strong>
  <%= @person.wishlist %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
